@import '../../style/extend/section.scss';
@import '../../style/extend/article-image.scss';

.about {
  @extend .section;
  padding: 1em 0 4em;
}

.about__image {
  @extend .article-image;
  margin: 1.5em 0 2em;
}

.about > p {
  margin-top: 1em;
}

.about > p:first-of-type {
  margin-top: 0;
}



@media (min-width: 768px) {
  .about {
    max-width: 960px;
    padding-top: 0.5em;
  }

  .about::after {
    content: "";
    clear: both;
    display: table;
  }

  .about__header {
    margin-bottom: 1em;
  }

  .about__image {
    float: right;
    width: 50%;
    margin: 0.5em 0 0.5em 1em;
  }
}