* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  padding-bottom: 1em;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
button,
select {
  background: transparent;
  color: inherit;
  font: inherit;
  outline: none;
  border: none;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

button {
  cursor: pointer;
}

label {
  cursor: pointer;
}