@import '../../style/extend/modal.scss';

.error {
  @extend .modal;
  background: white;  
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
}

.error__title {
  font-size: 1.25em;
  line-height: 1.5em;
}

.error__refresh-btn {
  color: dodgerblue;
  text-decoration: underline;
}